@import "bootstrap.less";



.page-header {
	background-color: @gray-lighter;
	font-size: (@font-size-base * 1.4);
	font-weight: 200;
	line-height: (@line-height-base * 1.4);
	
	h1{
		font-size: (@font-size-base * 4);
	}
}

.page-footer {
	background-color: @gray-lighter;
	font-size: @font-size-base;
}

// divs layout and dimensions
.page-header{
	margin: 0 0 20px;
}

.page-content{
	margin: 0 auto;
}

.content-area{
	.make-xs-column(8);
	width: percentage((8 / @grid-columns));
}

.sidebar-container{
	.make-xs-column(4);
	width: percentage((4 / @grid-columns));
}

.content-area-left, .sidebar-container-left{
	float: left;
}

.content-area-center{
	margin-left: auto;
	margin-right: auto;
}

.content-area-right, .sidebar-container-right{
	float: right;
}

.page-footer{
	margin: 40px 0 0;
	padding: 28px;
}


// jumbotron
.jumbotron{
	max-width: @screen-lg;
	margin: 0 auto;
	padding-top: (@jumbotron-padding);
	padding-bottom: (@jumbotron-padding);
}



///////////////////////
// PERSONALIZZAZIONI //
///////////////////////


body {
	padding-top: 52px;
	background-image: url('../images/light-wood.jpg');
	background-attachment: fixed;
}

#content {
	box-shadow: 0px 0px 20px #222222;
	background-color: white;
	height: auto !important;
	overflow: hidden;
}

h1, h2, h3 {
	margin-top: 0px;
	padding-top: 20px;
}

div#wrapper {
	background-attachment: fixed !important;
	padding: 0;
	margin:0 auto;
	margin-bottom: 5em;
	margin-top: -12px;
}

.theme-dropdown .dropdown-menu {
	position: static;
	display: block;
	margin-bottom: 20px;
}

.theme-showcase > p > .btn {
	margin: 5px 0;
}

.theme-showcase .navbar .container {
	width: auto;
}


header {
	background: rgba(0,0,0,0);
  	border: 0;
}

.navbar-brand{
	padding: 5px;
	img#logobar {
		height: 100%;
	}
}

.navbar{
	ul {
		list-style-type: none;
		margin-right: 30px !important;
	}
	img#logobar {
		height: 42px;
	}

}




// carousel

#carousel, .carousel-inner, .carousel-inner > .item, .carousel-inner > .item > .bgcaruselitem {
	height: 400px;
}

#caruselbg1 {
	background-image: url('../images/MU_TANNE_BKN_b.jpg');
}

#caruselbg2 {
	background-image: url('../images/Free-Seamless-Wood-Textures-Patterns-For-3D-Mapping-2.jpg');
}

.carousel-caption-bpf {
	text-align: center;
}

#carousel-caption-bpf-1 {
	margin-top: -330px
}

#carousel-caption-bpf-2 {
	margin-top: -200px
}

#prods {
	margin-top: -39px;
}

@media (min-width: 767px){
	.carousel .row .span3 {
		display: block;
		float: left;
		width: 25%;
		margin-left: 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}

.carousel-inner{
	height: auto !important;
	min-height: 250px;
	overflow: hidden;
}


.row {
	height: auto !important;
	overflow: hidden;

	.equalrowcontainer{
		height: 500px;
		overflow: hidden;
	
		.equalrowcontent {
			height: 500px;
			overflow: hidden;
		}
	}
}
	
.bpfgray {
	background-color: #4b4b4b;
	color: white;
}

.white {
	background-color: white;
	height: auto !important;
	min-height: 250px;
	overflow: hidden;
}


input, textarea {
	display: inline-block;
}

.spaziatori {
	padding: 20px 0px;
}



#sidebar {
	padding-top: 10px;
	#s {
		float:left;
	}
}

#footer {
	margin-top: 20px;
	background-color: #222222;
	border-color: #101010;
	color:#9d9d9d;
	padding:10px;
}

.carousel-inner .active.left { left: -33%; }
.carousel-inner .next        { left:  33%; }
.carousel-inner .prev        { left: -33%; }
.carousel-control.left,.carousel-control.right {background-image:none;}
